<!DOCTYPE html>
<html>

<head>
	<style type="text/css">
		body{background-image:url("/home/nani/Documents/coding_course/img/orchid.png"); background-repeat:repeat; background-position:center; background-size:cover;}
		h1{background: navajowhite; border:5px solid darkgoldenrod; margin:100px; text-align:center; color:tomato; font-size:100px; font-family: arial; width:70%; background-position:center;}
		h2{color:yellow; font-size:50px; background: bisque; font-size:50px; font-family:arial; color:salmon; text-align: center; margin: 100px; border: 3px solid olive; width:50%;}
		p{color:moccasin; font-size:22px; font-family:helvetica; text-align:center;}
		li{color:orange; text-align:center;}
		table{border-collapse: collapse; table-layout:fixed; width:200px; text-align:center;}
		th{background-color: seagreen; color:white; text-align:center;}
		table, th, td {color:orange; border:1px solid lavender; text-align:center;}
		a:link,
		a:visited{color:darkorchid;}
		a:hover{color:cyan;}
		a:active{background: navy; color: white;}
	</style>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hello to my World</title>

<center>
<body>

  <h1>Hello World</h1>

  <h2>Welcome on my training site!</h2>

  <div class="image1">
	<a href="http://www.crazy4computers.net/keyboarding-practice.html">
	<img src="/home/nani/Documents/coding_course/Images/download.png" width="300px" border="10px">
	</a>
  </div>

	<p><strong>This is my first website!</strong></p>
	<p>I am learning to <code>code!</code>

  <div class="image2">
	<a href="http://www.stickpng.com/img/icons-logos-emojis/emojis/emoticon-thumb-up">
	<img src="/home/nani/Documents/coding_course/Images/emoji.png" width="100px">
	</a>
  </div> </p>

<br>

	<p>My favourite website is <a target="_blank" href="http://www.cern.ch">CERN</a> amongst:


<strong>
  <ol>
	<li> <a href="https://mojzivotnidizajn.com">Zivotni Dizajn</a> </li>
	<li> <a href="https://zsofiasarhidai.com">Sarhidai Zsofia</a> </li>
  </ol>
</strong>

<br>

	<p>One of my weeknesses is that I like sweets, a lot!</p>
	<p>For example:</p>

<strong>
  <ul>
	<li> Bourbon biscuits</li>
	<li> Dairy milk chocolate bars </li>
	<li> Cupcakes </li>
	<li> Toffee puddings, etc. </li>
  </ul>
</strong>

<!no comment>

<br>

<p><em>This website looks awful, but here is a table:</em></p>

  <table class='table'>
	<tr>
	<th>Brand</th>
	<th>Pub to find</th>
	</tr>

	<tr>
	<td>Martini</td>
	<td>Pier</td>
	</tr>

	<tr>
	<td></td>
	<td>Angels</td>
	</tr>

	<tr>
	<td>Baileys</td>
	<td>Harleys</td>
	</tr>

	<tr>
	<td></td>
	<td>Bar 46</td>
	</tr>
  </table>

</body>
</center>
</html>
