.icon-bar {
position: fixed;
top: 50%;
-webkit-transform: translate(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
display: block;
text-align: center;
padding: 16px;
transition: all 0.3s ease;
color: white;
font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
background-color: #000;
}

.facebook {
background: #3B5998;
color: white;
}

.twitter {
background: #55ACEE;
color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.linkedin {
	background: #007bb5;
  color: white;
}

.instagram {
  background: #E4405F;
  color: white;
}

.box{
    padding:60px 0px;

}

.box-part{
    background:#F8F8F8;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.box-site{
    background:#F8F8F8;
    border-radius:0;
    padding:10px 5px;
    margin:10px 0px;
}
.text{
    margin:20px 0px;
}

.fa-cog{
     color:#4183D7;
}
.left{
  text-align: left;
}
.box-emailandsocial{background:#F8F8F8;
  border-radius:0;
  padding:10px 5px;
  margin:10px 0px;
  position: sticky;
  position: -webkit-sticky;
  top: 65;
}
@media (max-width: 979px) {
  .box-emailandsocial {
    padding-top: 0px;
  }
}
